/OGA.TCP.Lib/.vs
/OGA.TCP.Lib/OGA.TCP.Lib_NET5/bin
/OGA.TCP.Lib/OGA.TCP.Lib_NET5/obj
/OGA.TCP.Lib/OGA.TCP.Lib_NET5_Test/bin
/OGA.TCP.Lib/OGA.TCP.Lib_NET5_Test/obj
/OGA.TCP.Lib/OGA.TCP.Lib_NET6/bin
/OGA.TCP.Lib/OGA.TCP.Lib_NET6/obj
/OGA.TCP.Lib/OGA.TCP.Lib_NET6_Test/bin
/OGA.TCP.Lib/OGA.TCP.Lib_NET6_Test/obj
/OGA.TCP.Lib/OGA.TCP.Lib_NET7/bin
/OGA.TCP.Lib/OGA.TCP.Lib_NET7/obj
/OGA.TCP.Lib/OGA.TCP.Lib_NET7_Test/bin
/OGA.TCP.Lib/OGA.TCP.Lib_NET7_Test/obj
/OGA.TCP.Lib/OGA.TCP.Lib_NET48/bin
/OGA.TCP.Lib/OGA.TCP.Lib_NET48/obj
/OGA.TCP.Lib/OGA.TCP.Lib_NET48_Test/bin
/OGA.TCP.Lib/OGA.TCP.Lib_NET48_Test/obj
/OGA.TCP.Lib/OGA.TCP.Lib_NET452/bin
/OGA.TCP.Lib/OGA.TCP.Lib_NET452/obj
/OGA.TCP.Lib/OGA.TCP.Lib_NET452_Test/bin
/OGA.TCP.Lib/OGA.TCP.Lib_NET452_Test/obj
/OGA.TCP.Lib/OGA.TCP.Lib_NETStd21/bin
/OGA.TCP.Lib/OGA.TCP.Lib_NETStd21/obj
/OGA.TCP.Lib/OGA.TCP.Lib_NETStd21_Test/bin
/OGA.TCP.Lib/OGA.TCP.Lib_NETStd21_Test/obj
/OGA.TCP.Lib/OGA.TCP.Server.Lib/bin
/OGA.TCP.Lib/OGA.TCP.Server.Lib/obj
/OGA.TCP.Lib/OGA.TCP.Server.Lib_Tests/bin
/OGA.TCP.Lib/OGA.TCP.Server.Lib_Tests/obj
/OGA.TCP.Lib/scratchdev/bin
/OGA.TCP.Lib/scratchdev/obj
/OGA.TCP.Lib/TestResults
